.Title {
    background-color: rgb(192, 45, 26);
}

.Title-Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #fff;

}

.Title-Subtitle {
    color: rgba(105, 174, 206, 0.75);
    padding-bottom: 1em;
    margin-bottom: 2em;
  }