.Title {
    background-color: rgb(68, 68, 68);
}

.Title-Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #fff;

}

.Title-Subtitle {
    color: rgba(163, 207, 131, 0.75);
    padding-bottom: 1em;
    margin-bottom: 2em;
  }